@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import "./variables.modules";


body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.5vh;
    width: 100%;
    height: 100%;
    color: $dark;
    background-color: $white;
    box-sizing: border-box;
}

li {
    color: $dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.skills {
    margin-left: 1rem;
    list-style-type: square;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
  
  .hobbies {
    list-style: none;
    padding-left: 1rem;
    li {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
  }
  
  .green {
    color: #00ff00;
  }
  
  .bioText {
    margin-top: 0.5rem;
    color: #444;
    font-size: 1rem;
  }
  